.about-section {
    margin: 50px 5% 50px 5%;
}

.about-section h1 {
    color: #00441B;
    text-align: center;
    margin-bottom: 60px;
    font-size: 3em;
}

.about-section .body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-section .body>.description {
    margin: 0 0 15px 0;
}

.about-section .body>ul {
    text-align: left;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

.about-section .body .photo p {
    text-align: center;
}

.about-section img {
    width: 70vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.about-section a>img:hover {
    box-shadow: 0 0 10px gray;
}

@media (min-width: 80.0rem) {
    .about-section {
        margin: 50px 15% 50px 15%;
    }

    .about-section .body {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .about-section .reversed {
        flex-direction: row-reverse;
    }

    .about-section .body>.description {
        margin: 0 10% 15px 0;
        font-size: 1.1em;
    }
    
    .about-section .reversed>.description {
        margin: 0 0 15px 10%;
        font-size: 1.1em;
    }

    .about-section .body>ul {
        text-align: left;
        margin: 0;
    }

    .about-section img {
        width: 50vw;
    }
}

@media (min-width: 60.0rem) {
    .about-section img {
        width: 30vw;
    }
}


.section-partners {
    margin: 50px 10% 50px 10%;
}

.section-partners h1 {
    color: #00441B;
    text-align: center;
    margin-bottom: 60px;
    font-size: 3em;
}

.section-partners .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-partners .partner {
    width: 200px;
    height: 200px;

    background-color: white;
    border-radius: 5px;
    
    box-shadow: 0 0 5px gray;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;

    cursor: pointer;
}

.section-partners .partner img {
    width: 90%;
    height: auto;
}


.partner-dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    justify-content: center;
    align-items: center;

    display: none;
}

.partner-dialog-visible {
    display: flex;
}

.partner-dialog .background {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.3;

    cursor: pointer;

    z-index: 1;
}

.partner-dialog .content {
    z-index: 2;
    background-color: white;
    width: 90vw;
    max-height: 75vh;
    padding: 50px 50px 100px 50px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

.partner-dialog .content h1 {
    text-align: center;
    align-self: center;
}

.partner-dialog .content .img-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 10px 0 10px 0;
    border: 1px solid gray;
    background-color: white;
}

.partner-dialog .content .img-container img {
    width: 100%;
    padding: 10px;
}

.partner-dialog .content hr {
    margin: 20px 0 20px 0;
}

@media (min-width: 80.0rem) {
    .partner-dialog .content {
        width: 50%;
        padding: 50px 100px 100px 100px;
    }
}

.form-newsletter-container {
    margin: 50px 5% 50px 5%;
}

.form-newsletter-container h1 {
    color: #00441B;
    text-align: center;
    margin-bottom: 20px;
}