@import "nav.css";
@import "footer.css";
@import "contact_form.css";
@import "newsletter_form.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: sans-serif;
    background-color: rgb(247, 247, 247);
}

a {
    text-decoration: none;
}