.home-intro {
    height: fit-content;
    background-image: url(/img/comptech2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    padding: 7% 0 0 15%;
}

.home-intro .title h1 {
    color: #E18225;
    font-weight: bold;
    font-size: 5em;
    text-shadow: -3px 3px 7px black;
    line-height: 1em;
}

.home-intro .title span {
    margin-top: -20px;
    color: aliceblue;
    font-weight: bold;
    font-size: 5em;
    text-shadow: -3px 3px 7px black;
}

.home-intro .description {
    max-width: 40%;
    margin-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.home-intro .description p {
    color: aliceblue;
    text-shadow: -2px 2px 2px black;
}

.home-intro .description a {
    margin-top: 25px;
    width: fit-content;
    background-color: #E18225;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    box-shadow: -2px 2px 2px black;
}

.home-intro .description a:hover {
    background-color: #da740f;
    box-shadow: -2px 2px 5px black;
}


.grid-container {
    display: flex;
    justify-content: center;
    padding: 3vw 0 3vw 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
    column-gap: 5px;
    row-gap: 5px;
}

@media (max-width: 1255px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 950px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 645px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.grid .cell {
    width: 300px;
    height: 200px;
}

.grid img {
    width: inherit;
    height: inherit;
}