nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    border-bottom: solid 1px lightgray;

    padding: 20px;

    background-color: white;
}

nav a {
    color: #E18225;
    font-size: 1.1em;
}

nav .highlighted {
    text-decoration: underline;
    text-underline-offset: 8px;
}

nav .burger {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 7px;

    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

nav .burger div {
    height: 3px;
    width: 30px;
    margin-bottom: 7px;

    background-color: black;
}

nav .links {
    grid-column: 1 / 3;

    flex-direction: column;

    display: none;
}

nav .links a {
    text-align: center;
    padding-top: 10px;
}

@media (min-width: 40.0rem) {
    nav {
        padding: 20px 10% 20px 10%;
    }

    nav .burger {
        display: none;
        grid-row-start: 2;
    }

    nav .links {
        grid-column-start: 2;

        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    nav .links a {
        padding-left: 15px;
    }
}

@media (min-width: 80.0rem) {
    nav {
        padding: 20px 20% 20px 20%;
    }
}

nav .flex {
    display: flex;
}